* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* NAV & CONTAINER 1 e 2 */

.nav-bar {
    width: 100%;
    height: 80px;
    background-color: rgb(238, 212, 179);
    display: flex;
    align-items: center;
}

.container1 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 0px 20px;
    align-items: center;
}
.container2 {
    display: flex;
    justify-content: center;
    gap: 40px;

}


/* LINKS(NAV & CONTAINER1) */

.link1 {
    text-decoration: none;
    color: black;
    font-size: 16px;
}
 

/* IMAGENS(NAV & CONTAINER1) */

.imgpizza {

    height: 80px;
    width: auto;
    display: block;
}
.imgcarrinho {
    width: 35px;
    height: auto;
    display: block;
}


/* LISTAS */

li {
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}


/* BOTÃO(NAV & CONTAINER1) */

.ButtPedido {
    background-color: rgb(237, 136, 64);
    border-radius: 20px;
    border: none;
    width: 125px;
    height: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-right: 10px;
    justify-self: end;
    
}

.ButtPedido-link {
    text-decoration: none;
    transition: all 1;
    display: inline-block;
    color: rgb(0, 0, 0);
}

/* .ButtPedido-link:hover {

} */

.ButtPedido:hover {
    background-color: rgb(242, 51, 51);
    transform: scale(0.95);
    transition: transform 0.3s ease;


}

.ButtPedido:active{
    transform: scale(1.1);
    transition: transform 0.3 ease;
}

.container3{
    width: 100%; 
    height: 840px;
    background-color: rgb(220, 217, 217);
    display: flex;
    margin-top: 20px;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.container3 img {
    width: 100%;
    display: block;
    object-fit: cover;
    filter: brightness(0.7);
}

.button1{
    background-color: rgb(238, 212, 179);;
    border: none;
    cursor: pointer;
}


.buttonlink1{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


.buttonlink1:hover{
    color: rgb(101, 99, 99); 
}
h1{
color: aliceblue;
font-size: 75px;
position: absolute;
top: 10%;
left: 50%;
text-align: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
transform: translate(-50%, -50%);
}